/* IMPORTS */
@font-face {
    font-family: "Lane Humouresque";
    src: url(pics/Lanehum.ttf);
}

/* GLOBALS */
html {
    background-image: url(pics/webb-dark.png);
    /* background-image: url(pics/webb.png); */
    font-family: "Lane Humouresque", "Arial", 'Lucida Sans', Arial, sans-serif;
}

footer {
    display: flex;
    margin-top: 10px;
    height: auto;
    background: black;
}

input[type=text] {
    /* TEXT */
    text-align: center;
    font-style: italic;
    /* BOX */
    margin: 15px;
    padding: 3px 3px;
    border-radius: 4px;
    border: 1px;
}

label {
    font-weight: bold;
}

p {
    /* TEXT */
    color: white;
    line-height: auto;
    /* BOX */
    margin: 5px;
}

/* IDs */


/* CLASSES */
.tituloContainer {
    display: block;
    /* background-color: #fff; */
}

.titulo {
    font-size: x-large;
    font-weight: 600;
    color: white;
    margin-right: 25px;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.nav-wrapper > .left-side > div {
    margin: 5px;
    font-size: 0.9em;
}

.left-side {
    display: flex;
}

.nav-link-wrapper {
    height: 22px;
}

.nav-link-wrapper button {
    /* CURSOR */
    cursor: pointer;
    /* TEXT */
    color: rgb(172, 172, 172);
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    font-family: "Lane Humouresque", "Arial", 'Lucida Sans', Arial, sans-serif;
    /* BOX */
    border: none;
    background-color: transparent;
    transition: color 0.5s;
}

.nav-link-wrapper button:hover {
    border-bottom: 1px solid rgb(172, 172, 172);
}

.descContainer {
    /* Box */
    display: flex;
    background-position: left;
    justify-content: start;
    background-color: grey;
}

.descContainer > div {
    margin-left: 5px;
    margin-right: 5px;
}

.nav-link-wrapper button:active {
    background-color: white;
    color: black;
}

.selStyle {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 25%;
    /* COMENTAR AL ACABAR - SIN FONDO */
    /* background-color: antiquewhite; */
}

.wrapper {
    /* BOX */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    /* BACKGROUND */
    /* background-color: #dfe6e9; */
    background-image: url(pics/wp3837231-advent-calendar-wallpapers.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.calendar {
    /* BOX */
    margin: auto;
    width: 800px;
    height: 400px;
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.5);
    /* BACKGROUND */
    background-color: antiquewhite;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.year {
    /* BOX */
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    /* background-color: #2ecc71; */
    background-color: red;
    /* TEXT */
    color: #fff;
}

.month {
    /* BOX */
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    /* background-color: #23ab5c; */
    background-color: rgb(113, 225, 113);
    /* TEXT */
    color: #fff;
}

