/* IMPORTS */
@font-face {
    font-family: "Lane Humouresque";
    src: url(pics/Lanehum.ttf);
}

/* GLOBALS */
html {
    background-image: url(pics/webb-dark.png);
    /* background-image: url(pics/webb.png); */
    font-family: "Lane Humouresque", "Arial", 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

input[type=text] {
    /* TEXT */
    text-align: center;
    font-style: italic;
    /* BOX */
    margin: 15px;
    padding: 3px 3px;
    border-radius: 4px;
    border: 1px;
}

label {
    font-weight: bold;
}

p {
    /* TEXT */
    color: white;
    line-height: auto;
    /* BOX */
    margin: 5px;
}

h2 {
    color: whitesmoke;
}
/* IDs */


/* CLASSES */  
.slider {
    width: 100%;
    text-align: left;
    overflow: hidden;
}
  
.slides {
    display: flex;
    overflow-x: hidden;
}

.slides > div {
    flex-shrink: 0;
    width: 100%;
    height: auto;
    margin-right: 50px;
    border-radius: 10px;
    background-color: rgba(245, 245, 245, 0.222);
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    display: block;
    font-size: 20px;
}
  
.slider > a {
    display: inline-flex;
    color: white;
    font-weight: 600;
    width: 20%;
    height: 3rem;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    margin: 0 0 0.5rem 0;
    position: relative;
}
.slider > a:active {
    top: 1px;
}
.slider > a:focus {
    background: #000;
}
  
.titulo {
    margin-left: 100px;
    display: inline-flex;
    align-items: center;
    font-weight: bold;
    color: whitesmoke;
}

/* CALENDARIO */
.wrapper {
    /* BOX */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    margin-top: 50px;
    /* BACKGROUND */
    background-image: url(pics/wp3837231-advent-calendar-wallpapers.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.calendar {
    /* BOX */
    margin: auto;
    width: 800px;
    height: 400px;
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.5);
    /* BACKGROUND */
    background-color: antiquewhite;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.selStyle {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 25%;
}

.year {
    /* BOX */
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: red;
    /* TEXT */
    color: #fff;
}

.month {
    /* BOX */
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: rgb(113, 225, 113);
    /* TEXT */
    color: #fff;
}

